body {
  padding: 20px;
  height: 100%;
  margin: 0 auto;
  font-family: 'Slabo 27px', serif;
  background: #dbf4f7;
}

#header {
  font-size: 120%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #2b566b;
  font-weight: bold;
  color: white;
}
#header .inner {
  margin: 10px 15px;
}
#menu {
  float: right;
}
#menu .button {
  display: inline-block;
  color: white;
  font-size: 90%;
  cursor: pointer;
  margin-right: 10px;
}
#menu .button:hover {
  text-decoration: underline;
}

#logo {
  width: 17px;
  height: 17px;
  background: url('../assets/cards-white.png');
  background-size: contain;
  display: inline-block;
  margin-right: 10px;
}
#title {
  display: inline-block;
}

#cards {
  margin-top: 40px;
  margin-bottom: 20px;
}

#stack {
  padding: 0 20px;
}

.card {
  display: inline-block;
  width: 150px;
  height: 100px;
  border-radius: 4px;
  padding: 15px;
  margin: 0 10px 10px 0;
  vertical-align: top;
  text-align: center;
  font-size: 120%;
  cursor: pointer;
  color: white;
  background-color: #444;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transform: scale(1.05, 1.05);
  -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.group {
  margin-bottom: 20px;
  color: #2b566b;
  border: 1px dashed #2b566b;
  border-radius: 4px;
  min-height: 150px;
}

.group .title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  border-bottom: 1px dashed #83a5b1;
  background: #cae5ef;
  cursor: pointer;
}
.group input {
  background: none;
  outline: none;
  border: none;
  text-align: center;
  color: #2b566b;
  font-size: 24px;
  font-weight: bold;
  font-family: inherit;
}

.group .cards {
  min-height: 130px;
  margin-top: 0;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 3px;
}

.group .cards.drop-active {
  background: rgba(0, 0, 0, 0.05);
}

#newGroup {
  width: 300px;
  color: #79a5bb;
  border: 1px dashed #79a5bb;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  font-size: 150%;
  font-weight: bold;
  cursor: pointer;
}

#newGroup input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  background: none;
  color: #2b566b;
  font-family: inherit;
}

#footer {
  text-align: center;
  color: #79a5bb;
  font-size: 90%;
  margin-top: 20px;
}

.display-none {
  display: none;
}
